.message-container {
  width: 100%;
  padding: 0;
}

.message {
  list-style: none;
  border: 1px solid;
  text-align: left;
}

.is-user {
  text-align: right;
}

.username {
}

.text {
}

.avatar {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
